# Data Loader

Prototyping and writing a data loader function.

### Import Data

And clean dates into `pd.DateTime` and rename `best_offer` to `best_ask` (string name is thus the same length as `best_bid`.)

In [1]:
import pandas as pd

df = pd.read_csv('./dat/spx_option_prices.csv')
df['exdate'] = pd.to_datetime(df['exdate'].astype(str))
df['date'] = pd.to_datetime(df['date'].astype(str))
df.rename({'best_offer':'best_ask'}, axis = 1, inplace = True)

### Simplify Dataset

There are a few columns that would never be needed because they do not even vary. There are additional columns giving the option greeks, but I think I'll also omit those too later on.

In [2]:
for col in ['secid','cp_flag','index_flag','issuer','exercise_style']:
    print(df[col].unique())
    del df[col]

[108105]
['P']
[1]
['CBOE S&P 500 INDEX']
['E']

### Add Column for `daysToExpiry`

`daysToExpiry` is probably clear.

In [3]:
df['daysToExpiry'] = ((df['exdate'] - df['date']).astype(int)/1e9/3600/24).astype(int)
df['daysToExpiry'].min()

0

### Add Column for `lifeTime`

There is a unique key in the dataset called `optionid`. It is unique in the sense that for every `(date, optionid)` there is exactly 1 row in our dataset. However, the properties of an option are determined by the strike price (`strike_price`) and expiry date (`exdate`) because otherwise, the timing and cash flows are exactly the same. Thus, we expected `optionid` to `1:1` with `(exdate, strike_price)`. However, the following shows that `(date, exdate, strike_price)` have multiple rows associated with them.

My guess is that there is some pair of weekly, monthly, and quarterly options in which both option styles have the same expiration date. To try to approximate that, we look at the option's `lifeTime` which is the maximum date until expiry.

In [4]:
print(len(df))
print(len(df[['date','exdate','strike_price']].drop_duplicates()))

8462528
7841799

In [5]:
df_lt = df.groupby('optionid')['daysToExpiry'].max().reset_index().rename(
    {'daysToExpiry':'lifeTime'},axis=1)
df = df.merge(df_lt, how = 'left', on = 'optionid', validate = 'm:1')

In [6]:
print(len(df))
print(len(df[['date','exdate','strike_price','lifeTime']].drop_duplicates()))

8462528
8018016

### "Delisted Options"

Some options have a minimum `daysToExpiry` greater than 0 in our dataset. In other words, the dataset contains options which have not yet expired. That makes sense if the `exdate` is greater than or equal to the maximum `date` in the dataset.

In [7]:
obj = df.groupby('optionid')['daysToExpiry'].min()
mx = obj.max()
mx

903

In [8]:
obj = obj[obj == mx]
obj.head()

optionid
127294298    903
127294299    903
127294300    903
127294301    903
127294302    903
Name: daysToExpiry, dtype: int64

In [9]:
example_id = obj.index[0]
df[df['optionid'] == example_id].head()

,date,exdate,last_date,strike_price,best_bid,best_ask,volume,open_interest,impl_volatility,delta,gamma,vega,theta,optionid,forward_price,daysToExpiry,lifeTime
7572729,2018-12-26,2021-12-17,20181226.0,1000000,7.5,17.4,1,0,0.310159,-0.020868,0.000038,212.0977,-10.161210,127294298,2548.872340,1087,1087
7580461,2018-12-27,2021-12-17,20181227.0,1000000,8.0,18.0,1,1,0.314782,-0.021189,0.000037,216.6408,-10.559520,127294298,2570.205534,1086,1087
7588125,2018-12-28,2021-12-17,20181228.0,1000000,8.0,17.5,1,2,0.313325,-0.020969,0.000037,214.3754,-10.419860,127294298,2565.769114,1085,1087
7595927,2018-12-31,2021-12-17,20181228.0,1000000,7.0,16.5,0,2,0.312168,-0.019507,0.000035,203.2778,-9.803896,127294298,2600.503990,1082,1087
7603604,2019-01-02,2021-12-17,20181228.0,1000000,6.1,16.0,0,2,0.309355,-0.018666,0.000034,195.8898,-9.375538,127294298,2604.869839,1080,1087

But there is one option that has an `exdate` at or before the last date in our dataset. Since dropping this `optionid` removes only 5 `(optionid, date)` pairs (i.e. 5 data points) we will just outright drop it.

In [10]:
obj = df[df['exdate'] <= df['date'].max()].groupby('optionid')['daysToExpiry'].min()
mx = obj.max()
mx

715

In [11]:
obj = obj[obj == mx]
obj.head()

optionid
31622275    715
Name: daysToExpiry, dtype: int64

In [12]:
example_id = obj.index[0]
df[df['optionid'] == obj[obj == mx].index[0]]

,date,exdate,last_date,strike_price,best_bid,best_ask,volume,open_interest,impl_volatility,delta,gamma,vega,theta,optionid,forward_price,daysToExpiry,lifeTime
288542,2004-06-28,2006-06-17,20040628.0,1115000,84.7,88.7,100,10631,0.186653,-0.362154,0.001239,583.3969,-17.78302,31622275,1172.446159,719,719
288817,2004-06-29,2006-06-17,20040629.0,1115000,81.6,85.6,40,2,0.182844,-0.358732,0.001259,582.7842,-17.47740,31622275,1174.919843,718,719
289094,2004-06-30,2006-06-17,20040629.0,1115000,83.2,83.7,0,92,0.183636,-0.356319,0.001246,583.5762,-18.25211,31622275,1177.082994,717,719
289290,2004-07-01,2006-06-17,20040701.0,1115000,86.0,90.0,50,95,0.182954,-0.373285,0.001284,585.7026,-18.25056,31622275,1163.283931,716,719
289573,2004-07-02,2006-06-17,20040701.0,1115000,89.7,93.7,0,142,0.184864,-0.381652,0.001284,587.2330,-19.07706,31622275,1156.701283,715,719

In [13]:
df = df[~df['optionid'].isin({31622275})].reset_index(drop = True)

### Robustness Tests

Although it gained us ~177k data points (assuming we were going to otherwise drop them), this does not seem to get us back all the available data. We have a few options
1. Just keep them and treat them as independent data points (in this case we cannot guarantee uniqueness to the `(date, exdate, strike_price, lifeTime)` level.) 
2. Drop them and potentially merge them back in
  - We could outright drop anything that's duplicated
  - We could look at duplicates and select one security
      * The combined liquidity product (take total `volume`, `open_interest`, maximum `best_bid`, minimum `best_ask`)

We will implement all of these and create a data loader that lets us separate loading the data and running the analysis. If we require an analysis where `(date, exdate, strike_price, lifeTime)` must be unique we must pass `drop = False` in our data loader.

In [14]:
slct = ['date','exdate','strike_price','lifeTime']
df_ct = df.groupby(slct)['volume'].count().reset_index().rename(
    {'volume':'ct'},axis=1)
df = df.merge(df_ct, how = 'left', on = slct, validate = 'm:1')

In [15]:
calc = ['volume','open_interest','best_bid','best_ask']
df_outright_drop = df[df['ct'] == 1].copy()[slct + calc]
print(len(df_outright_drop))
print(len(df_outright_drop[slct].drop_duplicates()))

7573499
7573499

In [16]:
df_outright_drop.head()

,date,exdate,strike_price,lifeTime,volume,open_interest,best_bid,best_ask
0,2000-01-03,2000-03-18,1410000,75,0,1,36.750,38.750
1,2000-01-03,2000-01-22,1505000,19,0,50,55.250,57.250
2,2000-01-03,2000-06-17,1350000,166,290,14570,40.750,42.750
3,2000-01-03,2000-01-22,1500000,19,57,505,51.625,53.625
4,2000-01-03,2000-01-22,1540000,19,0,0,84.875,86.875

In [17]:
field_map = {'volume':'sum','open_interest':'sum','best_bid':'max','best_ask':'min'}
df_mrg_liquidity = df.groupby(slct).agg(field_map).reset_index()
print(len(df_mrg_liquidity))
print(len(df_mrg_liquidity[slct].drop_duplicates()))

8018011
8018011

In [18]:
df_mrg_liquidity.head()

,date,exdate,strike_price,lifeTime,volume,open_interest,best_bid,best_ask
0,2000-01-03,2000-01-22,975000,19,0,5537,0.0000,0.1250
1,2000-01-03,2000-01-22,1025000,19,100,4143,0.0625,0.1250
2,2000-01-03,2000-01-22,1050000,19,400,11873,0.1250,0.1875
3,2000-01-03,2000-01-22,1075000,19,32,105,0.0625,0.5625
4,2000-01-03,2000-01-22,1100000,19,29,20934,0.2500,0.3750

# Final Function

In [19]:
def load_data(drop_dups = False, mrg_liq = True):
    '''
    This function loads a dataset for downstream analysis.
    
    :param bool drop_dups: whether or not to drop duplicates
    :param bool mrg_liq: whether or not to merge liquidity
    '''
    
    ids_to_drop = {31622275}

    df = pd.read_csv('./dat/spx_option_prices.csv')
    df = df[['date','exdate','strike_price','best_bid','best_offer','volume','open_interest','optionid']]
    df = df[~df['optionid'].isin(ids_to_drop)]
    df.rename({'best_offer':'best_ask'}, axis = 1, inplace = True)

    df['exdate'] = pd.to_datetime(df['exdate'].astype(str))
    df['date'] = pd.to_datetime(df['date'].astype(str))

    df['daysToExpiry'] = ((df['exdate'] - df['date']).astype(int)/1e9/3600/24).astype(int)

    df_lt = df.groupby('optionid')['daysToExpiry'].max().reset_index().rename(
        {'daysToExpiry':'lifeTime'},axis=1)
    df = df.merge(df_lt, how = 'left', on = 'optionid', validate = 'm:1')

    slct = ['date','exdate','strike_price','lifeTime']
    calc = ['volume','open_interest','best_bid','best_ask','daysToExpiry']
    df_ct = df.groupby(slct)['volume']
    df_ct = df_ct.count().reset_index().rename({'volume':'ct'},axis=1)

    if drop_dups:
        df = df.merge(df_ct, how = 'left', on = slct, validate = 'm:1')
        df = df[df['ct'] == 1].drop('ct', axis=1)
    else:
        if mrg_liq:
            field_map = {'volume':'sum','open_interest':'sum','best_bid':'max','best_ask':'min'}
            df = df.groupby(slct + ['daysToExpiry']).agg(field_map).reset_index()
        #else: # Then pass and keep the data. (Ordered different than the documentation)

    return df[slct + calc]

In [20]:
def normalize_data(df):
    all_cols = sorted(df.columns)
    return df.sort_values(all_cols).reset_index(drop = True)[all_cols]

df_outright_drop_fn = normalize_data(load_data(drop_dups = True)).drop('daysToExpiry', axis = 1)
df_mrg_liquidity_fn = normalize_data(load_data()).drop('daysToExpiry', axis = 1)
df_fn = normalize_data(load_data(mrg_liq = False)).drop('daysToExpiry', axis = 1)

df_outright_drop = normalize_data(df_outright_drop)
df_mrg_liquidity = normalize_data(df_mrg_liquidity)
df = normalize_data(df)

assert df_outright_drop_fn.equals(normalize_data(df_outright_drop))
assert df_mrg_liquidity_fn.equals(normalize_data(df_mrg_liquidity))
assert df_fn.equals(normalize_data(df[df_outright_drop.columns]))